<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Todo Cloud Welcome Email</title>
    <style type="text/css">@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}table{border-spacing:0;padding: 0;border:0;margin: 0;}@media only screen and (max-width: 736px) {.main-table {width: 100% !important;max-width: 100% !important;padding: 0 10px !important;}.logo {height: 80px !important;}}@media only screen and (max-width: 600px) {.two-columns{width: 100%!important;max-width: 100%!important;text-align: center!important;float: none!important;}.copy-logo{display: block!important;float: none!important;margin: 0 auto 10px auto!important;}.two-columns.last{margin-top: 5px;}.two-columns.last td{text-align: center!important;}}</style>
</head>

<body style="margin:auto 0; padding:0; background:#fff; font-family: 'Roboto', Arial, Helvetica, sans-serif;">
<table style="text-align: center; width: 100%"><tr><td><table class="main-table" style="width:100%;color:#212121; background:#fff; min-width:300px; max-width:600px; margin: 10px auto;"><tr><td class="logo" style="border-top:2px solid #2196F3;height:62px; padding:20px 0; text-align: left; vertical-align:middle;"><img src="http://www.appigo.com/wp-content/uploads/2016/06/todo_cloud_logo_2_email.png" alt="Todo Cloud" style="width: auto; height: 50px; max-height: 50px; border:0;"/></td></tr><tr><td class="main-cell" style="text-align:left;">

    <!-- Content Starts -->
    <p style="margin: 0 0 15px 0; font-size: 28px;color:#2196F3;">Verify your email address</p>
    <p style="margin: 0 0 15px 0;">Hello {{USER_DISPLAY_NAME}},</p>
    <p style="margin: 0 0 15px 0;">Thank you for joining Todo Cloud.</p>
    <p style="margin: 0 0 15px 0;">Please verify your email address to complete your registration.</p>
    <a style="display: inline-block; font-size: 12pt; border-radius: 4px; line-height: 1; padding: 10px 30px; margin-bottom:15px;text-align: center; text-decoration: none !important; color: #fff !important; background-color: #2196F3;" href="{{VERIFY_EMAIL_URL}}">Verify my email</a>
    <p style="margin: 0 0 15px 0;">Happy doing!</p>
    <p style="margin: 0;">The Todo Cloud Team</p>
    <!-- Content Ends -->

    <div style="height: 1px; background: #B6B6B6; margin: 10px auto;"></div></td></tr><tr style="text-align:left;"><td><div class="two-columns" style="display:inline-block;height:100%;vertical-align:middle;"><table style="width:100%;height: 100%;vertical-align: middle;"><tr><td style="vertical-align:middle; color: #727272;"><p style="font-size:9pt; margin: 0"><img src="http://images.todo-cloud.com/emails/todo-logo-small.png" alt="todo" class="copy-logo" style="width:28px;height:28px;border:0;float:left; background: #B6B6B6; border-radius: 4px; margin-right: 8px;"/>Copyright {{CURRENT_YEAR}}, Appigo.<br/>All rights reserved.</p><div style="clear: both"></div></td></tr></table></div><div class="two-columns last" style="display:inline-block;height:100%;vertical-align:middle;float:right"><table style="width:100%;height: 100%;vertical-align: middle;"><tr><td style="color:#a8abae; font-size:0; vertical-align:middle; text-align: right"><a href="https://www.facebook.com/appigo"><img src="http://www.appigo.com/wp-content/uploads/2016/05/facebook-1.png" alt="" style="border:0;vertical-align:bottom;border-radius: 24px;margin-right: 10px;width:24px;height:24px;"/></a><a href="https://twitter.com/appigo"><img src="http://www.appigo.com/wp-content/uploads/2016/05/twitter-1.png" alt="" style="border:0;vertical-align:bottom;border-radius: 24px;margin-right: 10px;width:24px;height:24px;"/></a><a href="https://www.instagram.com/appigo/"><img src="http://www.appigo.com/wp-content/uploads/2016/06/instagram-1.png" alt="" style="border:0;vertical-align:bottom;border-radius: 24px;margin-right: 10px;width:24px;height:24px;"/></a><a href="https://www.linkedin.com/company/appigo"><img src="http://www.appigo.com/wp-content/uploads/2016/05/linkedin-1.png" alt="" style="border:0;vertical-align:bottom;border-radius: 24px;width:24px;height:24px;"/></a></td></tr></table></div><div style="clear: both"></div></td></tr><tr><td style="font-size: 0.6rem;"></td></tr></table></td></tr></table>
</body>
</html>

