/* New Auth Box Confirmed */
body
{
	background-color:#efefef;
	color:#333333;
	font-family: Helvetica Neue,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 22px;
}

.section-wrapper
{
	background-color:#ffffff;
	padding: 20px 2em;
	border: 1px solid #dccdc;
	padding-bottom: 44px;
	margin-bottom: 12px;
}

.header-section
{
	background-color: #4365AD;
	border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    padding: 0.9em 1.6em;
	height: 54px;
}

.header-section img
{
	float: left;
}

.header-section h1
{
	float: left;
	text-align: left;
	width: auto;
	margin-top: 14px;
	font-size:28px;
	margin-left: 10px;
}

.rounded-6
{
	border-radius: 6px 6px 6px 6px;
}

.section-heading
{
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
}

.subsection
{
	border-top: 1px solid #F4AF1A;
	margin: 1.1em 0;
	-moz-box-sizing: border-box;
}

.subsection-heading
{
	border-top: 6px solid #F4AF1A;
	display: inline-block;
	min-width: 30%;
	vertical-align: middle;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	text-rendering: optimizelegibility;
}

.credentials-section
{
	margin-top: 24px;
	margin-bottom: 24px;
	
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.input-section label, input
{
	display: block;
}

.input-section label
{
	margin-top: 16px;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}

.input-section input
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.input-section actionbutton
{
	margin-top: 14px;
	width: 50%;
	padding: 5px;
	text-transform: uppercase;
	height: 25px;
	background-color: #616060;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-image: -moz-linear-gradient(center top , #6C6A6A, #525151);
	
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	z-index: 1;
	
	position: relative;
	float: right;
}

.checkbox-input-section
{
	display: inline-block;
	font-size: 16px;
}

.checkbox-input-section label, input
{
	display: inline;
	float: left;
	margin-left: 10px;
}

.checkbox-input-section label
{
	margin-top: 9px;
}

.textbox
{
	height: 35px;
	border-color: #8C8C8C;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
	font-size: 16px;
	margin-bottom: 0;
	padding: 6px 10px;
	-moz-box-sizing: border-box;
	vertical-align: middle;
	font-weight: normal;
}

.extra-links
{
	text-align: left;
	display: inline-block;
	margin-top: 8px;
	vertical-align: middle;
}

.status-message
{
	font-weight: bold;
	font-size: 16px;
    font-style: italic;
    display: inline-block;    
}

.error-status-message
{
	font-weight: bold;
	font-size: 16px;
    color: #ff0000;
    font-style: italic;
    display: inline-block;    
}
