{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Todo Cloud API",
        "description": "\nThis is the first version of the Todo Cloud API. The API is initially being\nbuilt for the web and desktop versions of the Todo Cloud app, but it'll also\nbe made available to third parties so that users can get access to their own\ndata from anywyere. It'll be exciting to see what the community is able to\nbuild and see the amazing innovations that come from this.\n\nIf you are a third-party developer, please contact developer@appigo.com to\nregister your app and get a developer API key.\n\nAll endpoints are only accessible via https and are located at\n`api.todo-cloud.com`. For example, once your app is authenticated, you can\nget the authenticated user's lists by accessing the following URL (replace\nAPI-KEY with your own):\n```\n  https://api.todo-cloud.com/beta/lists?api_key=API-KEY // During development\n```\nOr:\n```\n  http://localhost:8989/api/v1/lists?api_key=API-KEY // During local development\n```\nOr:\n```\n  https://api.todo-cloud.com/v1/lists?api_key=API-KEY // When it's live\n```\n\nYou'll need to use a JSON Web Token (JWT) for the authenticated user for\neach endpoint, though some endpoints may not require it.\n\nThe JWT will give your app access to user content and in such case it means\nthat your app will be operating on a per-JWT limit vs. the same limit for\nyour general api_key.\n\nKeep in mind that if you make an API call requiring authentication and your\nJWT is expired, you'll receive a 401 Unauthorized response. If this occurs,\nyou should request a new JWT and try the original call again.\n\n## Limits\nTBD: We need to figure out what to do here.\n\nExample of what we could put:\n\nBe nice. If you're sending too many requests too quickly, we'll send back a\n`503` error code (server unavailable).\nYou are limited to 5000 requests per hour per `jwt` or `api_key`\noverall. Practically, this means you should (when possible) authenticate\nusers so that limits are well outside the reach of a given user.\n\n## Deleting Objects\nWe do our best to have all our URLs be\n[RESTful](http://en.wikipedia.org/wiki/Representational_state_transfer).\nEvery endpoint (URL) may support one of four different http verbs. GET\nrequests fetch information about an object, POST requests create objects,\nPUT requests update objects, and finally DELETE requests will delete\nobjects.\n\n## Structure\n\n### The Envelope\nEvery response is contained by an envelope. That is, each response has a\npredictable set of keys with which you can expect to interact:\n```json\n{\n    \"data\": {\n        ...\n    },\n    \"pagination\": {\n        \"next_url\": \"...\",\n        \"next_offset\": \"47\"\n    }\n}\n```\n\n#### DATA\nThe data key is the meat of the response. It may be a list or dictionary,\nbut either way this is where you'll find the data you requested.\n#### PAGINATION\nSometimes you just can't get enough. For this reason, we've provided a\nconvenient way to access more data in any request for sequential data.\nSimply call the url in the next_url parameter and we'll respond with the\nnext set of data.\n```json\n{\n    ...\n    \"pagination\": {\n        \"next_url\": \"https://api.todo-cloud.com/v1/lists?offset=47\",\n        \"next_offset\": \"47\"\n    }\n}\n```\nOn views where pagination is present, we also support the \"count\" parameter.\nSimply set this to the number of items you'd like to receive. Note that the\ndefault values should be fine for most applications - but if you decide to\nincrease this number there is a maximum value defined on each endpoint.\n"
    },
    "host": "api.todo-cloud.com",
    "basePath": "/beta",
    "schemes": [
        "https"
    ],
    "paths": {
       "/authenticate": {
            "post": {
                "description": "Request a new JSON Web Token (JWT).",
                "operationId": "authenticate",
                "security": [
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Credentials",
                        "in": "body",
                        "description": "Username and password credentials.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Credentials"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON Web Token which should be saved by the client and passed in subsequent API calls\nusing the `Authorization: Bearer <token>` header.\n",
                        "schema": {
                            "$ref": "#/definitions/JWT"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "User not found, bad password, etc. (UserOrPasswordInvalid)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "503": {
                        "description": "User is temporarily unavailable or in maintenance mode (UserMaintenance)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":503.*": {
                            "statusCode": "503",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:authenticate:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/authenticate/refresh": {
            "get": {
                "description": "Request a new JSON Web Token (JWT) with an existing valid JWT.",
                "operationId": "refreshAuthentication",
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "JSON Web Token which should be saved by the client and passed in subsequent API calls\nusing the `Authorization: Bearer <token>` header.\n",
                        "schema": {
                            "$ref": "#/definitions/JWT"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "User not found, bad password, etc. (UserOrPasswordInvalid)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "503": {
                        "description": "User is temporarily unavailable or in maintenance mode (UserMaintenance)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":503.*": {
                            "statusCode": "503",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$context.authorizer.userid\"\n}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:refreshAuthentication:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/authenticate/impersonate": {
            "get": {
                "description": "Get a temporary JSON Web Token (JWT) for a user (only available to root-level admins).",
                "operationId": "impersonate",
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerUsername",
                        "in": "query",
                        "description": "Username to impersonate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "description": "Reason for impersonation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON Web Token which should be saved by the client and passed in subsequent API calls\nusing the `Authorization: Bearer <token>` header.\n",
                        "schema": {
                            "$ref": "#/definitions/JWT"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "User not found or authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "503": {
                        "description": "User is temporarily unavailable or in maintenance mode (UserMaintenance)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":503.*": {
                            "statusCode": "503",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$context.authorizer.userid\",\n\"customerUsername\":\"$input.params('customerUsername')\",\n\"reason\":\"$input.params('reason')\"\n}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:impersonate:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/account": {
            "post": {
                "description": "Create a new account and get a JSON Web Token (JWT).",
                "operationId": "createAccount",
                "security": [
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "New Account Information",
                        "in": "body",
                        "description": "New account information.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON Web Token which should be saved by the client and passed in subsequent API calls\nusing the `Authorization: Bearer <token>` header.\n",
                        "schema": {
                            "$ref": "#/definitions/JWT"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest, UsernameLengthExceeded, PasswordLengthExceeded, PasswordTooShort)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "User already exists, etc. (UsernameUnavailable)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:createAccount:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "get": {
                "description": "Get account information about the currently authenticated user",
                "operationId": "getAccountInfo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Specify whether to return extended information or not: type=extended",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Information about the currently authenticated user.",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "Not authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$context.authorizer.userid\",\n  \"type\" : \"$input.params('type')\"\n}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:getAccountInfo:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "put": {
                "description": "Update the account record for the currently authenticated user",
                "operationId": "updateAccount",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Information about the currently authenticated user.",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "Not authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$context.authorizer.userid\"\n#if( $input.path('$.username') != \"\" ),\"username\":\"$util.escapeJavaScript($input.path('$.username'))\"\n#end\n#if( $input.path('$.password') != \"\" ),\"password\":\"$util.escapeJavaScript($input.path('$.password')).replaceAll(\"\\\\'\",\"'\")\"\n#end\n#if( $input.path('$.first_name') != \"\" ),\"first_name\":\"$util.escapeJavaScript($input.path('$.first_name')).replaceAll(\"\\\\'\",\"'\")\"\n#end\n#if( $input.path('$.last_name') != \"\" ),\"last_name\":\"$util.escapeJavaScript($input.path('$.last_name')).replaceAll(\"\\\\'\",\"'\")\"\n#end\n#if( $input.path('$.locale') != \"\" ),\"locale\":\"$util.escapeJavaScript($input.path('$.locale'))\"\n#end\n#if( $input.path('$.locale_best_match') != \"\" ),\"locale_best_match\":\"$util.escapeJavaScript($input.path('$.locale_best_match'))\"\n#end\n#if( $input.path('$.selected_locale') != \"\" ),\"selected_locale\":\"$util.escapeJavaScript($input.path('$.selected_locale'))\"\n#end\n#if( $input.path('$.email_opt_in') != \"\" ),\"email_opt_in\":$input.path('$.email_opt_in')\n#end\n}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:updateAccount:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,PUT,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/account/{userid}": {
            "parameters": [
                {
                    "name": "userid",
                    "in": "path",
                    "description": "Identifier of user account",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "description": "Deletes a user account, including all associated data",
                "operationId": "deleteAccount",
                "parameters": [
                    {
                        "name": "apikey",
                        "in": "body",
                        "description": "An API Key that authorizes a delete operation from a unit test.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/APIKey"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account deleted",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "Not authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "204",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$input.params('userid')\"\n#if( $input.path('$.apikey') != \"\" ),\"apikey\":\"$util.escapeJavaScript($input.path('$.apikey'))\"\n#end}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:deleteAccount:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'DELETE,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/account/export": {
            "get": {
                "description": "Export a user account into raw MySQL data, stored on Amazon S3. Only callable by a root-level admin.",
                "operationId": "accountExport",
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerUsername",
                        "in": "query",
                        "description": "Username of the account to export",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success information about the exported account.",
                        "schema": {
                            "$ref": "#/definitions/AccountExportQueries"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "User not found or authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "503": {
                        "description": "User is temporarily unavailable or in maintenance mode (UserMaintenance)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":503.*": {
                            "statusCode": "503",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$context.authorizer.userid\",\n\"customerUsername\":\"$input.params('customerUsername')\"\n}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:accountExport:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/account/email/verify": {
            "put": {
                "description": "Verify an email address.",
                "operationId": "verifyEmail",
                "security": [
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "VerifyEmailRequest",
                        "in": "body",
                        "description": "The email verification id.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VerifyEmailRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email verification result.",
                        "schema": {
                            "$ref": "#/definitions/SimpleResult"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "Not authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:verifyEmail:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'PUT,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/account/email/verify/resend": {
            "post": {
                "description": "Request a new email verification email.",
                "operationId": "resendVerificationEmail",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Request email verification result.",
                        "schema": {
                            "$ref": "#/definitions/SimpleResult"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "403": {
                        "description": "Not authorized (Unauthorized)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "security": [
                    {
                        "todo-cloud-jwt-authorizer-FUNCTION_ALIAS": []
                    },
                    {
                      "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":403.*": {
                            "statusCode": "403",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        },
                        ".*httpStatus\\\":500.*": {
                            "statusCode": "500",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "#set ($errorMessageObj = $util.parseJson($input.path('$.errorMessage')))\r\n{\r\n  \"code\" : \"$errorMessageObj.errorType\",\r\n  \"message\" : \"$errorMessageObj.message\"\r\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "{\n  \"userid\" : \"$context.authorizer.userid\"\n}\n"
                    },
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:398938165940:function:resendVerificationEmail:FUNCTION_ALIAS/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "contentHandling": "CONVERT_TO_TEXT"
                }
            },
            "options": {
                "summary": "CORS support",
                "description": "Enable CORS by returning correct headers\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "CORS"
                ],
                "x-amazon-apigateway-integration": {
                    "type": "mock",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\" : 200\n}"
                    },
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
                                "application/json": "{}\n"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Default response for CORS method",
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                }
            }
        },
        "/account/password/reset": {
            "post": {
                "description": "Request a password reset for an account.",
                "operationId": "requestResetPassword",
                "security": [
                    {
                      "api_key": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "resetid",
                        "in": "body",
                        "description": "The password reset id.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PasswordResetRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Password reset result.",
                        "schema": {
                            "$ref": "#/definitions/SimpleResult"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or otherwise bad request (BadRequest, UsernameLengthExceeded, PasswordLengthExceeded, PasswordTooShort)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    },
                    "500": {
                        "description": "Unexpected error (ServerError)",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        },
                        "headers": {
                            "Access-Control-Allow-Headers": {"type": "string"},
                            "Access-Control-Allow-Methods": {"type": "string"},
                            "Access-Control-Allow-Origin": {"type": "string"}
                        }
                    }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws",
                    "responses": {
                        "default": {
                            "statusCode": "200",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            }
                        },
                        ".*httpStatus\\\":400.*": {
                            "statusCode": "400",
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods": "'*'",
                                "method.response.header.Access-Control-Allow-Origin": "'*'"
                            },
                            "responseTemplates": {
[...]
